<p id="notice"><%= notice %></p>

<p>
  <strong><h2><%= @beer_club %></h2></strong>
</p>

<p>
  <strong>Founded: <%= @beer_club.founded %></strong>
</p>

<p><h1>Members:</h1></p>

<% if !@confirmed.nil? and !@confirmed.empty?%>
	<ul>
	  <% @confirmed.each do |user| %>
	    <li><%= link_to user.username, user %></li>
	  <% end %>
	</ul>
<% else %>
  <p>No confirmed members</p>
<% end %>

<% if !@unconfirmed.nil? and !@unconfirmed.empty? and @confirmed.include? current_user%>
<p><h1>Outstanding applications</h1></p>
	<ul>
	  <% @unconfirmed.each do |user| %>
	    <li><%= link_to user.username, user %> <%= link_to "confirm", activate_membership_path(user.get_membership(@beer_club).id), method: :post, class: "btn btn-primary" %></li>
	  <% end %>
	</ul>
<% end %>

<% if current_user %>
	
	<% if @beer_club.users.exclude? current_user %>
		<%= form_for(@membership) do |f| %>
		  <%= f.hidden_field :beer_club_id, :value => @beer_club.id %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.hidden_field :confirmed, :value => false %>
		  <%= f.submit value:"join the club" %>
		<% end %>
	<% else %>
	  <%= form_for(@membership, method: "delete") do |f| %>
		  <%= f.hidden_field :beer_club_id, :value => @beer_club.id %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <%= f.submit value:"end membership" %>
	  <% end %>
	<% end %>

	<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
	<%= link_to 'Destroy this club', @beer_club, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
<%= link_to 'Back', beer_clubs_path %>
