<h1>Listing styles</h1>

<div class="row">
  <% @styles.each do |style| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
         <h3><%= style.name %></h3>
         <p><%= style.descr %></p>
         <p><a><%= link_to 'Show', style, class:"btn btn-primary" %></a> <a> <%= edit_and_destroy_buttons(style) %> </a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Style', new_style_path, class:"btn btn-primary" %>
