<p id="notice"><%= notice %></p>

<% cache @brewery, skip_digest: true do %>

	 <h2><%= @brewery.name %>
	 	<% if not @brewery.active %>
	 		<span class="label label-info">retired</span>
	 	<% end %>
	 </h2>
	  <%= link_to activity_toggle_brewery_label_name(@brewery), toggle_activity_brewery_path(@brewery), method: :post, class:'btn btn-danger' %>

	<p>
	  <i> Established in <%= @brewery.year %> </i>
	</p>

	<p> Number of beers: <%= @brewery.beers.count %> </p>

	<p>
	  <% @brewery.beers.each do |beer| %>
	    <%= link_to beer.name, beer %>
	  <% end %>
	</p>

	<% if @ratings.empty? %>
	    <p>No ratings yet</p>
	<% else %>
	    <p>Has <%= pluralize(@ratings.count, 'rating') %>, average <%= @average %></p>
	<% end %>

<% end %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
